<td>{{ h.host_id }}</td>
<td>{{ h.hostname }}</td>
<td>{{ h.dhcp_identifier }}</td>
<td>{{ h.ipv4_address }}</td>
<td>    <button class='delete btn btn-danger' data-id='{{ h.host_id }}'>X</button></td>