<h2>Leases</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Hostname</th>
        <th>MAC</th>
        <th>IP</th>
    </tr>
    </thead>
    <tbody>
    {% for l in leases %}
    <tr>
    {% include "lease_row.html" %}
    </tr>
    {% endfor %}
    </tbody>
</table>