<script>
</script>
<form id="new_host" method="post" action="/reservations/" data-url="/reservations/">
<td></td>
<td><input name="hostname" type="text" placeholder="hostname"/></td>
<td><input name="dhcp_identifier" type="text" placeholder="00:00:00:00:00:00"/></td>
<td><input name="ipv4_address" type="text" placeholder="172.16.1.X"/></td>
<input type="hidden" name="dhcp4_subnet_id" value="1"/>
</form>