<h2>Reservations</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Hostname</th>
        <th>MAC</th>
        <th>IP</th>
    </tr>
    </thead>
    <tbody>
    {% for h in hosts %}
    <tr>
    {% include "host_row.html" %}
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% include "new_host.html" %}
    </tfoot>
</table>